In [10]:
#syntax error
a=input('enter your name)
print(a)

SyntaxError: unterminated string literal (detected at line 2) (1389460867.py, line 2)

In [12]:
#indention error
def add():
print(add)

IndentationError: expected an indented block after function definition on line 2 (2640892460.py, line 3)

In [13]:
#value error
a='ten'
b=int(a)
print(b)

ValueError: invalid literal for int() with base 10: 'ten'

In [14]:
#name error
a=10
print(a)
print(b)

10

NameError: name 'b' is not defined

In [16]:
#index error
marks=[12,2,33,21]
print(marks[0])
print(marks[9])

12

IndexError: list index out of range

In [17]:
#attribute error
l=[10,20,30,40]
print(l.movies())

AttributeError: 'list' object has no attribute 'movies'

In [19]:
geek = "Geeks"
num = 4
print(geek + num + geek)

TypeError: can only concatenate str (not "int") to str