In [1]:
# tuple: -group of elements as on entity   -alowed duplicates and hetrogeneous elements
#        - indexing is possible and negitive indexing also possible   -tuple object are create we can't perfrom update and delete opration
#        - it is a read only object  -insertion oder is mantained/oder garenty

In [5]:
# how to create a tuple using copy
t1= ()
t2 =10
t3= 10,12,32,22
t4=(10,20,204,4043,4041)
t5=(range(10))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
10
(10, 12, 32, 22)
(10, 20, 204, 4043, 4041)
range(0, 10)

In [7]:
#acseing tuple elements using indexing
enames=('ramu','raju','rahul','koma')
print(enames[1])

raju

In [13]:
#iterate tuple for loop 
enames=('ramu','raju','rahul','koma')
for ename in enames:
    print(ename)

ramu
raju
rahul
koma

In [15]:
#iterate tuple while  loop 
enames=('ramu','raju','rahul','koma')


i=0
while i<=len(enames)-1:
    print(enames[i])
    i=i+1

ramu
raju
rahul
koma

In [20]:
#sorting a tuple 
enames=('ramu','raju','rahul','koma','ragu')
new_name=sorted(enames)
print(new_name)
enames =tuple(new_name)
print(enames)

['koma', 'ragu', 'rahul', 'raju', 'ramu']
('koma', 'ragu', 'rahul', 'raju', 'ramu')

In [23]:
# count 
enames=('ramu','raju','rahul','koma','ragu','koma')
print(enames.count('koma'))

2