In [4]:
#1. Print numbers from 1 to 10 using a for loop?
for x in range(0,11,1):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
#2. Print numbers from 1 to 10 using a while loop?
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [2]:
#3. Program to calculate the sum of the first 10 natural numbers using for Loop- for loop and While loop?
sum=0
for num in range(1,11):
    #print(num)
    sum+=num
print(sum)

55

In [1]:
# while loop
i=1
sum=0
while(i<11):
    sum+=i
    i=i+1
print(sum)

55

In [6]:
#4. Program to print 15 to 10 numbers using for loop and while loop?
for x in range(15,9,-1):
    print(x)

15
14
13
12
11
10

In [2]:
#5. Program to print 15 to 10 numbers using a while loop?
i=15
while i>=10:
    print(i)
    i=i-1

15
14
13
12
11
10

In [6]:
#6. Program to print the first 10 even numbers using a while loop?
i=0
while i<=18:
    print(i)
    i=i+2

0
2
4
6
8
10
12
14
16
18

In [8]:
#7. Program to print the first 5 even numbers using a for loop?
for x in range(0,10,2):
    print(x)

0
2
4
6
8

In [9]:
#8. Program to print the first 10 odd numbers using a while loop?
i=1
while i<=19:
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19

In [14]:
#9. Print Good Morning 10 times?
for x in range(1,11,1):
    print('good morning')

good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning
good morning

In [17]:
#10.Print numbers from 10 to 1 descending order?
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [20]:
#11.Print odd numbers from 10 to 30?
for a in range(10,31,2):
    print(a)

10
12
14
16
18
20
22
24
26
28
30

In [22]:
#14.Program first ten multiples of 4 using a for loop(4,8,12,16...)?
for x in range(1,41):
    if(x%4==0):
        print(x)

4
8
12
16
20
24
28
32
36
40

In [23]:
#15.Program first ten multiples of 5 using a while loop(5,10,15,20...)?
for x in range(1,51):
    if(x%5==0):
        print(x)

5
10
15
20
25
30
35
40
45
50

In [1]:
#18. Program Factors of 24 using while loopExample : Factors of 24 are (1,3,4,6,12,24)
num=24
i=1
while i<=num:
    if num%i==0:
        print(i)
    i=i+1

1
2
3
4
6
8
12
24

In [3]:
#19. Program to print the reverse of digits of numbers.
num=input()
rev=""
for i in num:
    rev=i+rev
print(rev)

 230

032